/* new.scss */

.error {
  color: #d32f2f;
  font-size: 0.75rem;
  margin-top: 0.25rem;
}

.formInput {
  margin-bottom: 1rem;
}

.labelContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.newContainer {
  width: 100%;
  padding: 2rem;
}

.top {
  margin-bottom: 2rem;
}

.bottom {
  display: flex;
  flex-direction: column;
}
