.table {
  .cellWrapper {
    display: flex;
    align-items: center;

    .image {
      width: 32px;
      height: 32px;
      border-radius: 50%;
      margin-right: 10px;
      object-fit: cover;
    }
  }

  .status {
    padding: 5px;
    border-radius: 5px;

    &.Approved {
      color: green;
      background-color: rgba(0, 128, 0, 0.151);
    }
    &.Pending {
      color: goldenrod;
      background-color: rgba(189, 189, 3, 0.103);
    }
  }
}

.table {
  .MuiTableCell-root {
    font-size: 14px;
    font-weight: 500;
  }

  .status {
    &.Online {
      color: green;
    }
    &.Offline {
      color: red;
    }
    &.Paused {
      color: orange;
    }
  }
}

.table-controls {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;

  .dropdown {
    min-width: 200px;
    margin-right: 10px;
  }
}

@media (max-width: 600px) {
  .table-controls {
    flex-direction: column;
    align-items: stretch;

    .dropdown {
      min-width: 100%;
      margin-bottom: 10px;
    }
  }
}

.status-ready {
  background-color: #d4edda;
}

.status-blue {
  background-color: #cce5ff;
}

.status-purple {
  background-color: #e2d6f9;
}

.status-break {
  background-color: #f8d7da;
}

.text-danger {
  color: red;
}

.text-blue {
  color: blue;
}

.text-purple {
  color: purple;
}

.text-success {
  color: green;
}

.text-break {
  color: orange;
}

